.coa {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 30px;
}

.coa #mmu-coa {
    width: 20%;
    height: 100%;
}

.coa #mmu-logo {
    width: 30%;
    height: 100%;
    padding-top: 60px;
}

.material-icons-expand-3 {
    position: absolute;
    width: 100%;
    margin-top: -300px;
    color: black;
    transition: transform 1s;
    overflow: hidden;
}

.scroll-page-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 19%;
    font-size: 1.3rem;
    font-family: 'Cormorant Garamond', serif;
    letter-spacing: 5px;
    overflow-x: hidden;
}

.scroll-page-4 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12.5%;
    font-size: 1.3rem;
    font-family: 'Cormorant Garamond', serif;
    letter-spacing: 5px;
    overflow-x: hidden;
}

#crwn {
    width: 100%;
}

@media only screen and (max-width: 500px) {
    .coa #mmu-logo {
        width: 50%;
        margin-top: 0;
    }
}