.Name {
    padding-top: 200px;
    font-family: 'Cormorant Garamond', serif;
    letter-spacing: 6px;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
     -ms-animation: fadein 2s; /* Internet Explorer */
      -o-animation: fadein 2s; /* Opera < 12.1 */
         animation: fadein 2s;
}

.Dark-bg {
    width: 100%;
    background-image: linear-gradient( 94.3deg,  rgba(26,33,64,1) 10.9%, rgba(81,84,115,1) 87.1% );
}

.Light-bg {
    width: 100%;
    background-color: #FFFFFF;
    background-image: linear-gradient(180deg, #FFFFFF 0%, #6284FF 50%, #FF0000 100%);
}

a {
    color: grey;
    display: inline-block;
    width: 100px;
    cursor: pointer;
    text-decoration: none;
    padding-right: 14px;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 1000;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
     -ms-animation: fadein 2s; /* Internet Explorer */
      -o-animation: fadein 2s; /* Opera < 12.1 */
         animation: fadein 2s;
         transition: transform 1s;
}

* {
    scroll-behavior: smooth;
}

a:hover {
    transform: translateY(-2px);
    text-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.scroll-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
    font-size: 25px;
    font-family: 'Cormorant Garamond', serif;
    letter-spacing: 5px;
}

#sections {
    position: absolute;
    justify-content: center;
    margin-bottom: 500px;  
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 5px;
}

#about {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 200px;
    letter-spacing: 1px;
    width: 80%;
    font-weight: 700;
}

.material-icons-expand-1 {
    position: absolute;
    margin-top: -850px;
    width: 100%;
    color: black;
    transition: transform 1s;
    overflow: hidden;
}

.material-icons-expand-2 {
    position: absolute;
    width: 100%;
    margin-top: -350px;
    color: black;
    transition: transform 1s;
    overflow: hidden;
}

.material-icons:hover {
    transform: scale(1.3);
    overflow: hidden;
}

#contact {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 250px;
}

#contact h3 {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 3px;
    flex-basis: 100%;
}

@media only screen and (max-width: 500px) {
    #contact {
        flex-direction: column;
    }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}