.Ay-1 {
    position: absolute;
    margin-top: 20%;
    z-index: 0;
    left: 45%;
}

.Ay-2 {
    position: absolute;
    margin-top: 20%;
    z-index: 0;
    left: 45%;
    color: white;
}

.Dark-bg {
    width: 100%;
    background-image: linear-gradient( 94.3deg,  rgba(26,33,64,1) 10.9%, rgba(81,84,115,1) 87.1% );
  
}

.Light-bg {
    width: 100%;
    background-color: #FFFFFF;
    background-image: linear-gradient(180deg, #FFFFFF 0%, #6284FF 50%, #FF0000 100%);

}
