.App-logo {
    height: 7vmin;
    pointer-events: none;
    position: absolute;
    left: 0;
}

.Portfolio-text {
    position: absolute;
    left: 70px;
    font-size: calc(3px + 2vmin);
}
  
@media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
}
  
.App-header {
    background-color: #282c34;
    min-height: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(2px + 1.5vmin);
    color: white;
    position: fixed;
    width: 100%;
}
  
@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

button {
  position: absolute;
  right: 18px;
  background-color: #282c34;
  border: none;
}

svg {
  height: 29px;
  width: auto;
  margin-top: 4.5px;
}

svg:hover {
  cursor: pointer;
  transform: scale(1.2);
}



